@import "tailwindcss";


@theme {
  --default-font-family: "Rajdhani", sans-serif;
  --font-rubik: "Rubik", sans-serif;
  --font-inter: "Inter", sans-serif;
  --color-tomato: #FF494A;
  --color-chinese-black: #141414;
  --color-light-gray: #F4F4F4;
}

@layer base {
  .container {
    @apply max-w-326.25! mx-auto;
  }
}

@layer components {
  .menu-item {
    @apply font-bold text-base leading-7 text-chinese-black px-2 lg:px-3 xl:px-4 md:py-3.5
  }
  .menu-icons {
    @apply p-[13px] rounded-full bg-light-gray lg:text-sm leading-3.5 text-chinese-black font-normal
  }
  .project-card {
    @apply w-[296.25px] border border-tomato/16 rounded-[20px] text-center pt-[43.5px]
  }
  .project-img {
    @apply w-12.5 h-12.5 mx-auto
  }
  .project-card-title {
    @apply font-bold leading-8.5 text-2xl mt-7.5 mb-2.25
  }
  .project-card-para {
    @apply font-normal text-base leading-6.5 font-rubik pb-10.25
  }
}