@import "tailwindcss";


@theme {
  --default-font-family: "Rajdhani", sans-serif;
  --font-rubik: "Rubik", sans-serif;
  --font-inter: "Inter", sans-serif;
  --color-tomato: #FF494A;
  --color-chinese-black: #141414;
  --color-light-gray: #F4F4F4;
}

@layer base {
  .container {
    @apply max-w-326.25! mx-auto;
  }
}

@layer components {
  .menu-item {
    @apply font-bold text-base leading-7 text-chinese-black px-2 lg:px-3 xl:px-4 md:py-3.5
  }
  .menu-icons {
    @apply p-[13px] rounded-full bg-light-gray lg:text-sm leading-3.5 text-chinese-black font-normal
  }
}